button {
  background: red;
  color: white;
  width: fit-content;
  align-self: center;
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 20px;
  font-weight: bold;
  font-size: 22px;
}